h1 {
    display: block;
    font: size 3.5em;
    font-weight: 900;
    unicode-bidi: isolate;
    color: white;
}

header {
    background-color: rgb(249, 73, 73);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

body {
    min-height: 100vh;
    min-width: 100vh;
}

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-bottom: 1px solid black;
}

label {
    font-size: 25px;
}

#search-input {
    width: 50%;
    margin: 0 10px 0 10px;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.col {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
    margin: 30px;
    padding: 20px;
    width: 500px;
    justify-self: center;
    background-color: rgb(249, 73, 73);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.col:hover{
    scale: 1.1;
}

.col img{
    width: 100%;
}

.movieName{
    font-size: 30px;
    font-weight: 400;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.language{
    margin: 10px 0 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

button{
    margin-right: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}